<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="https://cdn.a632079.me/favicon.ico">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/highlight.js/9.9.0/styles/monokai-sublime.min.css" />
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}  ﻿备案号：<a href="http://www.miibeian.gov.cn">苏ICP备17002503号-1</a></section>
            <section class="poweredby">使用 <a href="https://ghost.org">Ghost</a> 驱动</section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.12.0/jquery.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- 社会化登陆 js load -->
    <script type="text/javascript">
      (function(){
      var appid = 'cysOcvJBx';
      var conf = 'prod_a4844a325b7df8d5c457399db6035889';
      var width = window.innerWidth || document.documentElement.clientWidth;
      if (width < 960) {
      window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>


</body>
</html>
